<header>
    <div class="container">
        <nav>
            <div class="logo">
                <a routerLink='/home'>DelV</a>
            </div>
            <div class="menus">
                <ul>
                    <li><a routerLink="#">Login</a></li>
                    <li class="menu_container">
                        <a routerLink="#">Lakshmi</a>
                    <div class="sub_menu">
                            <a routerLink="#">Profile</a>
                            <a routerLink="#">Order</a>
                            <a routerLink="#">Logout</a>
                    </div>
                </li>
                    <li><a routerLink="#">Cart</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
